*.bak
*.c
*.cover
*.crt
*.diff
*.egg
*.egg-info/
*.key
*.log
*.manifest
*.pem
*.pyc
*.pyd
*.pyo
*.so
*.spec
*.swp
*.swo
*.tmp
*$py.class
*~
.AppleDouble
.cache
.coverage
.coverage.*
.DS_Store
.dmypy.json
.env
.env.*
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.LSOverride
.mypy_cache/
.nox/
.pytest_cache/
.pypi_token
.pypirc
.pytype/
.ruff_cache/
.tox/
.venv
.venv-builder/
.vscode/
__pycache__/
build/
chunks.db
coverage.xml
cython_debug/
dist/
dmypy.json
docs/_build/
ENV/
env/
env.bak/
htmlcov/
internal/backups/
internal/prompts_tester/*.txt
nosetests.xml
snapshot.txt
venv/
venv.bak/
